{% extends 'core/base.html' %}

{% load static %}

{% load custom_filters %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}

    <h1>Mantenedor de bodega</h1>

    <div class="container">
        
        {% if form %}
        <form method="POST" action="" enctype="multipart/form-data" id="formulario">
            <div class="form-group">
                {% csrf_token %} {{ form.as_p }}
            </div>
            <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
            <!-- <input type="reset" class="btn btn-primary btnwidth" id="id_nuevo" value="Nuevo"> -->
            <a class="btn btn-success btnwidth" href="{% url 'admin_bodega' 'ins' -1 %}">Nuevo</a>
            {% if id != '-1' %}
            <a class="btn btn-danger btnwidth" href="{% url 'admin_bodega' 'del' id %}">Eliminar</a>
            {% endif %}
            <a class="btn btn-info btnwidth" href="{% url 'home' %}">Inicio</a>
            {% if mesg %}
            <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
            {% endif %}
        </form>
        {% endif %}
        {% if list %}
        <table id="tabla_datos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Categoría</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th class="titulo_boton">Editar</th>
                    <th class="titulo_boton">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for ve in list %}
                <tr>
                    <td width="50">{{ ve.id }}</td>
                    <td width="150">{{ ve.categoria }}</td>
                    <td width="200">{{ ve.nombre }}</td>
                    <td width="150">{{ ve.descripcion }}</td>
                    <td width="70">{{ ve.precio }}</td>
                    <td>{{ ve.descuento_sub }}</td>
                    <td>{{ ve.descuento_oferta }}</td>
                    <td width="250"><img src="/media{{ ve.imagen }}" class="mini_producto" alt=""></td>
                    <td><a href="{% url 'admin_bodega' 'upd' ve.id %}" 
                        class="btn btn-primary btn-sm boton_chico">Editar</a></td>
                    <td><a href="{% url 'admin_bodega' 'del' ve.id %}" 
                        class="btn btn-danger btn-sm boton_chico">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <br>
        <a href="{% url 'poblar_bd' %}" class="btn btn-info btn-sm">Poblar BD</a>
{% endblock content %}

{% block script %}
    <input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
    <script src="{% static 'core/js/admin_bodega.js' %}"></script>
{% endblock script %}