{% extends 'core/base.html' %}
{% load static%}
<!--{% load custom_filters %}-->
{% block content %} 

<div class="container-fluid text-center"><h1>Comercializadora PetShop</h1></div>
<br>
<!-- carrousel -->
<main role="main">
  <div class="container">
      <section class="text-center">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/media/images/royalmedium2-scaled.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/media/images/bannerdespachogratis-scaled.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/media/images/MARZOALRESCATE-scaled.jpg" class="d-block w-100" alt="...">
          </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </section>
    </div>
</main>
<!-- carrousel-->
      <br><br><br>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4 col-md-4">
            <img src="/media/images/regalo-38.gif" class="img-fluid rounded-start">
          </div>
          <div class="col-8 col-md-8">
            <div class="card-body">
              <h5 class="card-title">¡Oferta especial para clientes!</h5>
              <p class="card-text">Por compras de mas de $20.000 te puedes llevar excelentes prendas de nuestros socios</p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <br><br><br><br><br><br>
      </div>
{% endblock %}