<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petshop - Menu</title>
</head>
<body>
        <div class="container-fluid ">
            <img class="navbar-brand" src="/media/images/cropped-logo-max-comercializadora.png">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="inicio.html">Inicio</a>
                <a class="nav-link" href="nosotros.html">Nosotros</a>
                <a class="nav-link" href="registro.html">Registrarse</a>
                <a class="nav-link" href="cuenta.html" tabindex="-1" >Cuenta</a>
                <a class="nav-link" href="inicio.html" tabindex="-1">Cerrar Sesion</a>
                <a class="nav-link" href="ingreso.html" tabindex="-1">Ingreso</a>
                <a class="nav-link" href="administrarTienda.html" tabindex="-1">Administrar</a>
            </div>
        </div>
        </div>
</body>
</html>