{% extends 'core/base.html' %}
{%load static%}
{% block content %} 
<div class="container-fluid text-center">
    <div>
      <br>
      <h1>Nosotros</h1>
    </div>
    <div><br><br></div>
    <div >
      <div class="row justify-content-center">
        <h3>Descripción de la empresa 
          <br><br>
        </h3>
        
      </div>
      <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="/media/images/chica1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Claudia García.<br>Estudiante Veterinaria de cuarto año, CEO de la empresa.</p>
          </div>
        </div>
        <div class="col-6">
          <br><br><br>
          <p class="text-justify ">
            Somos una empresa comprometida con el bienestar animal, 
            especializada en la venta de productos para mascotas de alta calidad y diseño exclusivo. 
            Todo comenzó como un proyecto de un grupo de amigas que buscaban ayudar a una fundación sin fines de lucro 
            a través de la venta de bandanas, correas e identificaciones para mascotas en redes sociales. 
            Actualmente, nos hemos convertido en una empresa con una gran demanda y estamos dedicados a proporcionar 
            productos y servicios excepcionales a nuestros clientes de todo el país.
          </p>
          <br><br><br>
        </div>
        
      </div><br><br>
      <div>
        <div>
          <h3>
            Visión
            <br><br>
          </h3>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <br><br><br><br>
            <p class="text-justify">
              Nuestra visión es convertirnos en la principal marca de productos para mascotas, 
              reconocida por nuestra calidad, diseño y compromiso con el bienestar animal. 
              Buscamos crear una comunidad de amantes de las mascotas que comparten nuestros 
              valores y nuestra pasión por brindarles lo mejor a nuestros fieles amigos.
            </p>
            <br><br><br><br>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/media/images/chica2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Emilia Gonzáles.<br>Egresada de Administración de Empresas, CEO de la compañía.</p>
            </div>
          </div>
        </div>
        <br><br>
      </div>
      <div>
        <br>
        <h3>
          Misión
          <br><br>
        </h3>
        <div class="row justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="/media/images/chica31.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Monica Madariaga.<br>Egresada de Veterinaria, CEO de la compañia.</p>
            </div>
          </div>
          <div class="col-6">
            <br><br><br>
            <p class="text-justify">
              Nuestra misión es ofrecer productos de la más alta calidad para satisfacer las 
              necesidades y gustos de nuestros clientes y sus mascotas. Nos esforzamos por mantener 
              altos estándares de ética y responsabilidad social, y donamos una parte de nuestras 
              ganancias a organizaciones sin fines de lucro que trabajan en la protección y bienestar 
              de los animales. Queremos seguir creciendo y mejorando nuestra oferta de productos 
              y servicios para satisfacer las necesidades cambiantes de nuestros clientes y de sus 
              mascotas, y continuar contribuyendo a causas nobles que promueven el amor y respeto 
              por los animales.
            </p>
            <br><br><br>
            
          </div>
          
        </div>
      </div>
    <div>
      <br><br><br><br><br>
    </div>

{% endblock %}