{% extends 'core/base.html' %}
{%load static%}
{% block content %} 
        <h1 style="text-align: center !important;">
            PetShop
        </h1>
        <br><br>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_producto_recuadro">
                    <img src="/media{{producto.imagen}}" class="ficha_producto_imagen" alt="">
                </div>
                <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_datos_recuadro">
                    <h1>
                        Nombre: {{ producto.nombre }}<br><br>
                    </h1>
                    <h2>
                        Descripción: {{ producto.descripcion }}<br><br>
                    </h2>
                    <h3>
                        Precio: {{ producto.precio }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

