{% extends 'core/base.html' %}
{%load static%}
{% block content %} 
<br>
    <div class="container">
        <h1 style="text-align: center !important;">
           PetShop
        </h1>
        <br><br>
        {% if list %}
            <div class="row">
            {% for ve in list %}
                <a href="{% url 'producto_ficha' ve.id %}">
                    <div class="tienda_producto_recuadro">
                        <div class="tienda_producto_recuadro_interior">
                            <img src="/media{{ ve.imagen }}" class="tienda_producto_imagen" alt="">
                        </div>
                        <div>
                            {{ ve.nombre }}
                            <br>
                            {{ ve.descripcion }}
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
        {% endif %}
        <div class="tienda_link_home">
            <a href="{% url 'home' %}" class="btn btn-info btn-sm">Ir a la página e inicio</a>
        </div>
    </div>
{% endblock %}