{% extends 'core/base.html' %}
{%load static%}
{% block content %} 
<br>
    <div class="container -fluid pad">
        <h1 style="text-align: center !important;">
           PetShop
        </h1>
        <br><br>
        {% if list %}
            <div class="row">
            {% for ve in list %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 card pad-b">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 align-self-start producto" >
                            <a href="{% url 'producto_ficha' ve.id %}">
                                <img class="tienda_producto_imagen" src="/media{{ ve.imagen }}"  alt="">
                            </a>
                        </div>
                        
                        <div class=" card-body col align-self-end" >
                            
                            <h5 class="card-title">{{ ve.nombre }}</h5>
                            <br>
                            {% if not user.is_authenticated %}
                                <a href="{% url 'producto_ficha' ve.id %}" class="btn btn-primary">Ficha Producto</a>
                            {% else %}
                                <a href="{% url 'producto_ficha' ve.id %}" class="btn btn-primary">Ficha Producto</a>
                                <br><br>
                                <a href="{% url 'producto_ficha' ve.id %}" class="btn btn-primary ">Agregar al carro</a>
                            {% endif %} 
                            <br>
                            <br>
                            <p class="card-text">{{ ve.descripcion }}</p>
                            
                        </div>
                    </div>
                </div>
                
            {% endfor %}
            </div>
        {% endif %}
        <div class="tienda_link_home">
            <a href="{% url 'home' %}" class="btn btn-info btn-sm">Ir a la página e inicio</a>
        </div>
    </div>
{% endblock %}